<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="static/css/pstyle.css">
    </head>
    <body>
        <div>
            <div id="Header">{% block header %}{% endblock header %}</div>
            <div id="Content">
                <div id="leftbar">
                    <ul id="menubar">
                        <li><a href="home">HOME</a></li>
                        <li><a href="register">REGISTER</a></li>
                        <li><a href="login">LOGIN</a></li>
                        <li><a href="logout">LOGOUT</a></li>

                    </ul>
                    
                </div>
                <div id="Rightbar">{% block pagecontent %}{% endblock pagecontent %}</div>
                
            </div>
            <div id="footer">{% block footer %}{% endblock footer %}</div>
            
        </div>
    </body>
</html>